@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue Bold.ttf')  format('truetype'),
       url('../fonts/BebasNeue Bold.otf')  format('opentype')
}

@font-face {
  font-family: 'Trade Gothic';
  src: url('../fonts/TradeGothicLTBoldCondensed.eot');
  src: url('../fonts/TradeGothicLTBoldCondensed.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TradeGothicLTBoldCondensed.woff2') format('woff2'),
       url('../fonts/TradeGothicLT-BoldCondTwenty.woff') format('woff'),
       url('../fonts/TradeGothicLTBoldCondensed.ttf')  format('truetype'),
       url('../fonts/TradeGothicLT-BoldCondTwenty.otf')  format('opentype')
}

body {
  font-family: 'Trebuchet MS', 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', 'Trade Gothic', serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

h4, h5 {
  font-family: 'Trebuchet MS', 'Fira Sans', sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 3.333rem;
}

h2 {
  font-size: 2.222rem;
}

h3 {
  font-size: 1.667rem;
}

h4 {
  font-size: 1.14rem;
}

button, .stc-btn {
  font-size: 1.111em;
}

a {
  color: $secondary;

  &:active, &:hover, &:focus {
    color: transparentize($secondary, 0.1);
  }

  &.plain {
    color: inherit;
    text-decoration: none;
  }
}

.title {
  text-align: center;
}

.dropdown-menu {
  button {
    font-size: 18px;
    text-transform: none;
  }
}
