$pink: #e70094;
$plum: #941c5b;
$yellow: #f7a700;
$teal: #01b4aa;

$primary: $teal;
$secondary: $pink;
$highlight: $yellow;
$error: $plum;

$black: #000000;
$dark-grey: #404040;
$light-grey: #f3f7f6;

